@import '~materialize-css/dist/css/materialize.min.css';

/* index.css */
/* Otros estilos globales aquí */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

.navbar-fixed {
    z-index: 999;
  }

  .loading-container {
    display: grid;
    place-items: center; /* Centra horizontal y verticalmente */
    width: 100vw; /* O ajusta el ancho según tus necesidades */
    height: 100vh; /* O ajusta la altura según tus necesidades */
}

#html5-qrcode-select-camera.html5-qrcode-element {
  display: block;
}